main div.container div.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
main div.container div.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
main div.container div.pagination button:hover {
  background-color: #ccc;
}
.active {
  font-weight: bold;
  font-size: large;
}
